body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #FFFFFF;
}

nav a {
  color: black;
  padding: 2rem 2rem 1.5rem 0rem;
  display: inline-block;
  position:relative;
  left:75%;
}

.content {
  color: black;
  text-align: center;
}
.contentPage{
  padding-top:5%;
}
.about{
  margin-top:2%;
  height:80vh;
  width:60%;
  position:absolute;
  left:50%;
  margin-Left:-30%;
}
.about p{
  text-align: center;
}
.social{
  height: 15vh;
  position:absolute;
  width:60%;
  left:50%;
  margin-left:-30%;
  margin-top:15%;
}
.social a{
  display:inline-block;
  height:10em;
  width:10em;
  z-index:10;
  padding:1rem;
}
